<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="greeting" th:method="post">
    <input type="text" name="text" placeholder="Input message" th:text="${name}">
    <input type="text" name="tag" placeholder="Tag" th:text="${tag}">
    <button type="submit">Add</button>
</form>

<form th:action="greeting/filter" th:method="post">
    <input type="search" name="tagFilter">
    <button type="submit">Find</button>
</form>

<h1>All messages</h1>
<div th:each="message : ${messages}">
    <b th:text="${message.id}"></b>
    <span th:text="${message.text}"></span>
    <i th:text="${message.tag}"></i>
</div>
</body>
</html>